.card {
    display: inline-block;
    max-width: 400px;
    margin: 10px;
    vertical-align: top;
    text-overflow: ellipsis;
    height: 500px;
    width: 500px;
}

.icon-image{
    max-width: 50px;
}

.mat-mdc-card-title{
    
}

.mat-mdc-card-subtitle{
    font-style: italic;
}

.carousel-container {
    display: block;
    height: 300px;
    width: 100%;
}