<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar>
            <img src='{{ iconSource }}' class="icon-image" />
        </div>
        <mat-card-title>{{ name }}</mat-card-title>
        <mat-card-subtitle>{{ category }}</mat-card-subtitle>
    </mat-card-header>

    <div *ngIf="screenshots.length > 1" class="carousel-container">
        <app-carousel [slides]="screenshots"></app-carousel>
    </div>

    <div *ngIf="screenshots.length === 1" class="carousel-container">
        <img src="{{ screenshots[0] }}" class="screenshot" />
    </div> 
    
    <mat-card-content>
        <p>
            {{ description }}
        </p>
    </mat-card-content>

    <div style="display: inline-block; position: absolute; bottom: 0px;">
        <mat-card-actions>
            <button mat-button (click)="openDialog()">More Info</button>
            <button mat-button (click)="openLink(deployment)">Launch</button>
        </mat-card-actions>
    </div>

  </mat-card>