.card {
    display: inline-block;
    max-width: 400px;
    margin: 10px;
    vertical-align: top;
}

.icon-image{
    max-width: 50px;
}

.mat-mdc-card-title{
    font-weight: bold;
}

.mat-mdc-card-subtitle{
    font-weight: 800;
    font-style: italic;
}

.carousel-container {
    display: block;
    height: 300px;
    width: 100%;
  }