<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar>
            <img src='{{ iconSource }}' class="icon-image" />
        </div>
        <mat-card-title>{{ name }}</mat-card-title>
        <mat-card-subtitle>{{ category }}</mat-card-subtitle>
    </mat-card-header>

    <div class="carousel-container">
        <app-carousel [slides]="screenshots"></app-carousel>
    </div>
    
    <mat-card-content>
        <p>
            {{ description }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="openDialog()">More Info</button>
        <button mat-button (click)="openLink(deployment)">Launch</button>
    </mat-card-actions>
  </mat-card>