<div id="title-container">  
    <h1 class="title slide-right">Afternoons</h1>
    <h1 class="title slide-right2">Programming</h1>
    <br /><br />
</div>

<div id="navigation">
    <div class="inline-block slide-down">
        <button mat-button (click)="open('projects');">
            <mat-icon class="icon">folder</mat-icon>
            <span class="icon-label">
                Projects
            </span>
        </button>
    </div>
    
    <div class="inline-block slide-down2">
    <button mat-button>
        <mat-icon class="icon">person_book</mat-icon>
        <span class="icon-label">
            About
        </span>
    </button>
    </div>

    <div class="inline-block slide-down3">
    <button mat-button>
        <mat-icon class="icon">mail</mat-icon>
        <span class="icon-label">
            Contact
        </span>
    </button>
    </div>

    <div class="inline-block slide-down4">
    <button mat-button>
        <mat-icon class="icon">history_edu</mat-icon>
        <span class="icon-label">
            Résumé
        </span>
    </button>
    </div>
</div>
