#title-container{
    display: block;
    text-align: center;
    margin-top: 10%;
}

#navigation{
    display: block;
    text-align: center;
}

.title{
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    font-size: 72px;
}

.title-small{
    color: white !important;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.icon-label{
    color: white;
    font-size: 20px;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    // text-shadow: 0 5px 5px rgba(0,0,0,.5);
}

.icon{
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.inline-block{
    display: inline-block;
}

.slide-right {
    animation-duration: 2s;
    animation-name: slideright;
}

.slide-right2 {
    animation-duration: 3s;
    animation-name: slideright;
}

.slide-down {
    opacity: 0;
    animation-duration: 3s;
    animation-name: slidedown;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.slide-down2 {
    opacity: 0;
    animation-duration: 3s;
    animation-name: slidedown;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.slide-down3 {
    opacity: 0;
    animation-duration: 3s;
    animation-name: slidedown;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
}

.slide-down4 {
    opacity: 0;
    animation-duration: 3s;
    animation-name: slidedown;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
}
  
@keyframes slideright {
    from {
        transform: translate(-120px);
        opacity: 0;
    }

    to {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes slidedown {
    from {
        transform: translate(0px, -50px);
        opacity: 0;
    }

    to {
        transform: translate(0px);
        opacity: 1;
    }
}