@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root{
    --shade-1: rgba(249, 248, 113);
    --shade-2: rgba(255, 199, 95);
    --shade-3: rgba(255, 150, 113);
    --shade-4: rgba(255, 111, 145);
    --shade-5: rgba(214, 93, 177);
    --shade-6: rgba(132, 94, 194);
}

body { 
    margin: 0; 
    background: var(--shade-4);
    background-image:
    radial-gradient(var(--shade-3) 9px, transparent 10px),
    repeating-radial-gradient(var(--shade-1) 0, var(--shade-5) 4px, transparent 5px, transparent 20px, var(--shade-6) 21px, var(--shade-2) 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
    box-sizing: border-box;
}

p{
  font-family: 'Roboto', sans-serif;
    line-height: 2;
    font-size: large;
    cursor: default;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    cursor: default;
}