@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root{
    --shade-1: #F9F871;
    --shade-2: #FFC75F;
    --shade-3: #FF9671;
    --shade-4: #FF6F91;
    --shade-5: #D65DB1;
    --shade-6: #845EC2;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: linear-gradient(300deg, var(--shade-2), var(--shade-4));
    background-attachment: fixed;
}

p{
    font-size: x-large;
    font-weight: 400;
    color: white;
}

#container{
    padding: 5%;
}