@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root{
    --shade-1: #F9F871;
    --shade-2: #FFC75F;
    --shade-3: #FF9671;
    --shade-4: #FF6F91;
    --shade-5: #D65DB1;
    --shade-6: #845EC2;
}

body { 
    margin: 0; 
    background: linear-gradient(150deg, var(--shade-2), var(--shade-5));
    background-attachment: fixed;
}

p{
    line-height: 2;
    font-size: large;
    cursor: default;
}

h1, h2, h3{
    cursor: default;
}

#container{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
}

.dialog-container{
    padding: 5%;
}

.mdc-button{
    margin-right: 10px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #dedede; 
}

body::-webkit-scrollbar-thumb {
    background-color: white; 
}