.inline-block{
    display: inline-block;
    margin: 15px 15px 25px -10px;
}

.icon{
    color: white;
    text-shadow: 0 2px 2px var(--shade-6);
}

.icon-label{
    font-size: 20px;
    color: white;
    text-shadow: 0 2px 2px var(--shade-6);
}
