
    <div class="inline-block">
        <button mat-button routerLink="/projects">
            <mat-icon class="icon-small">folder</mat-icon>
            <span class="icon-label-small">
                Projects
            </span>
        </button>
    </div>
    
    <div class="inline-block">
    <button mat-button>
        <mat-icon class="icon-small">person_book</mat-icon>
        <span class="icon-label-small">
            About
        </span>
    </button>
    </div>

    <div class="inline-block">
    <button mat-button>
        <mat-icon class="icon-small">mail</mat-icon>
        <span class="icon-label-small">
            Contact
        </span>
    </button>
    </div>

    <div class="inline-block">
    <button mat-button>
        <mat-icon class="icon-small">history_edu</mat-icon>
        <span class="icon-label-small">
            Résumé
        </span>
    </button>